@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif;
    /* É bom usar o border-box para utilizar padding e não mudar o conteúdo */
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1717479472303-e09bc657578e?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #252525;
    width: 100%;
    text-align: center;
    font-size: 6.8rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.8rem;
}

a {
    font-size: 1.8rem;
    padding-bottom: 48px;
    color: blue;
}

a:visited {
    color: brown;
}

a:hover {
    color: #8a2be2;
}

a:active {
    color: #410679;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}

table th {
    background-color: steelblue;
    color: #fff;
}

/* (2n + 1) faz com que a cor escolhida fique alternando */
table tr:nth-child(2n + 1) {
    background-color: #AAA;
}

table {
    font-size: 2.4rem;
    border-collapse: collapse;
}

/* Lista */
ul, ol {
    font-size: 1.8rem;
    padding-left: 3.2rem;
}

ul {
    list-style: square;
}

ol {
    list-style: upper-roman;
}

.box {
    height: 10rem;
    width: 20rem;
    border: 4px solid black;
    display: inline-block;
}

img {
    height: 10rem;
    width: 20rem;
    object-fit: cover;
}