@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif;
}

:root {
    font-size: 62.5%;
}

.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1717479472303-e09bc657578e?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #252525;
    width: 100%;
    text-align: center;
    font-size: 6.8rem;
}

p {
    font-size: 1.8rem;
}

a {
    font-size: 1.8rem;
    padding-bottom: 48px;
    color: blue;
}

a:visited {
    color: brown;
}

a:hover {
    color: #8a2be2;
}

a:active {
    color: #410679;
}